.body{
    height: 350px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.error{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
}
.oops{
    font-size: 30px;
}
.page{
    font-size: 20px;
}