/* .course{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */
.side-body{
    /* border: 1px solid red; */
}
.course-body{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}