
.logo{
    width: 50px;
    margin-left: 30px;
}
.nav a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    color: black;
}
.logout{
    /* border: 1px solid blue; */
}
.logout img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
}